{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The main content area on the homepage }}
<main class="content" role="main">

<div class="wrapper flex-wrapper">
    <div id="content" class="flex-content home-content">
        <div class="home-section flex-vertical">
            <div class="home-section flex flex-center" style="padding:25px 50px;">
                <div class="flex-one">
                    <div class="flex flex-center">
                        <img src="{{asset "images/ahmed.png"}}">
                    </div>
                </div>
                <div class="flex-vertical flex-one" style="margin-right:25px;">
                    <h4 class="home-header">Daily Fantasy Lineups for NBA and MLB</h4>
                    <div>My name is Ahmed and I have made over some insane amount of money playing daily fantasy sports. Some other background info here and some other stuff. Pretty cool. You should just follow and stuff because im awesome and will win you lots of dfs money.</div>
                </div>
            </div>
            <div id="past-lineups" class="home-lineup-container flex-vertical" style="background-color:#CFCFCF;padding:25px 15px;">
                <h4 class="home-header">Past Lineups</h4>
                <div class="flex">
                    {{#get "posts" limit="5" page="1" filter="tag:past-lineups" include="tags"}}
                        {{#foreach posts}}
                        <div class="flex-vertical home-lineup-item">
                            <a href="{{image}}">
                                <img alt="Post Cover Image" class="home-lineup-img lineup-img" src="{{image}}?w=200">
                            </a>
                            <div class="lineup-date">
                                <span>{{date published_at format="MMMM DD"}} - </span>
                                {{#has tag="cashed"}}
                                    <span class="lineup-cashed">{{title}}</span>
                                {{else}}
                                    {{#has tag="busted"}}
                                        <span class="lineup-busted">{{title}}</span>
                                    {{else}}
                                        <span>{{title}}</span>
                                    {{/has}}
                                {{/has}}
                                
                            </div>
                        </div>
                        {{/foreach}}
                    {{/get}}
                </div>
            </div>
        </div>
        <div class="home-section">
            <div class="load-more"><span>Load More</span></div>
        </div>
        <div class="home-section flex flex-center" style="padding:25px 50px;">
            <div class="flex-vertical flex-one" style="margin-right:25px;">
                <div style="font-weight:bold;">Tools you can use</div>
                <div>A paragraph about tools or something else here.  A paragraph about tools or something else here.  A paragraph about tools or something else here.  A paragraph about tools or something else here.  A paragraph about tools or something else here.  A paragraph about tools or something else here.  A paragraph about tools or something else here.  A paragraph about tools or something else here.  A paragraph about tools or something else here.  A paragraph about tools or something else here.  </div>
            </div>
            <div class="flex-one">
                <div class="flex flex-center">
                    <img src="{{asset "images/tools.png"}}">
                </div>
            </div>
        </div>
        <div class="home-section flex flex-center" style="background-color:#CFCFCF;padding:25px 50px;">
            <div class="flex-one">
                <img src="{{asset "images/tools.png"}}">
            </div>
            <div class="flex-vertical flex-one">
                <div style="font-weight:bold;">Tools you can use</div>
                <div>A paragraph about tools or something else here.  A paragraph about tools or something else here.  A paragraph about tools or something else here.  A paragraph about tools or something else here.  A paragraph about tools or something else here.  A paragraph about tools or something else here.  A paragraph about tools or something else here.  A paragraph about tools or something else here.  A paragraph about tools or something else here.  A paragraph about tools or something else here.  </div>
            </div>
        </div>
    </div>
    {{!-- {{> "sidebar"}} --}}
</div>
</main>