{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The main content area on the homepage }}
<main class="content" role="main">

<div class="wrapper flex-wrapper">
    <div id="content" class="flex-content home-content">
        <div class="flex-vertical">
            <div class="home-section arrow-white flex flex-center">
                <div class="flex-one">
                    <div class="flex flex-center">
                        <img class="home-profile-img" src="{{@blog.cover}}?w=350">
                    </div>
                </div>
                <div class="flex-vertical flex-one" style="margin-right:25px;">
                    <h4 class="home-header">Daily Fantasy Lineups for NBA and MLB</h4>
                    <div>Hey everyone, my name is Ahmed Mahmood! I'm a 21 year old college student from St. Louis, Missouri. I'm a huge sports fanatic who loves the Cardinals and Bulls. Statistics come naturally to me and the older I get the better I have become. Sports are a true passion of mine as I spend my days just enjoying sports so in 2015 I thought “Why not make make money off them?”
                    <br><br>
                    If you love sports and making money I am the guy to help! Over 216K profit and on the rise. Check out my past lineups below and if you have any questions, message me on Twitter!</div>
                </div>
                {{!-- <div class="arrow_box"></div> --}}
            </div>
            <div id="past-lineups" class="home-section home-lineup-container flex-vertical arrow-gray">
                <div class="past-lineups-header">Check out all my past lineups to see how they performed</div>
                <div class="past-lineups-container flex-vertical flex-wrap">
                    {{#get "posts" limit="4" page="1" filter="tag:past-lineups" include="tags"}}
                        <div class="flex flex-wrap flex-one">
                            {{#foreach posts}}
                            <div class="flex-vertical home-lineup-item flex-one">
                                <a class="lineup-img-container" href="{{image}}">
                                    <picture>
                                        <img alt="Post Cover Image" class="home-lineup-img lineup-img" src="{{image}}?w=250">
                                        <div class="home-button"></div>
                                    </picture>
                                </a>
                                <div class="lineup-date">
                                    <span>{{date published_at format="MMMM Do"}} - </span>
                                    {{#has tag="cashed"}}
                                        <span class="lineup-cashed">{{title}}</span>
                                    {{else}}
                                        {{#has tag="busted"}}
                                            <span class="lineup-busted">{{title}}</span>
                                        {{else}}
                                            <span>{{title}}</span>
                                        {{/has}}
                                    {{/has}}
                                    
                                </div>
                            </div>
                            {{/foreach}}
                        </div>
                    {{/get}}
                </div>
                <div class="load-more-container">
                    <div class="load-more">Load More Past Lineups</div>
                </div>
            </div>
        </div>
        <div class="home-section arrow-padding arrow-white flex flex-center">
            <div class="flex-vertical flex-one">
                <div class="home-join-header">Join hundreds of others who trust me with daily lineups and advice</div>
                <div class="quote-container flex-wrap flex">
                    {{#get "posts" limit="3" page="1" filter="tag:quotes" include="tags"}}
                        {{#foreach posts}}
                            <div class="quote flex-one">{{content}}
                                <span class="quote-name">&#8212;{{title}}</span>
                            </div>
                        {{/foreach}}
                    {{/get}}
                    {{#get "posts" limit="3" page="2" filter="tag:quotes" include="tags"}}
                        {{#foreach posts}}
                            <div class="quote flex-one">{{content}}
                                <span class="quote-name">&#8212;{{title}}</span>
                            </div>
                        {{/foreach}}
                    {{/get}}
                </div>
            </div>
        </div>
        <div id="past-lineups" class="home-section home-lineup-container flex-vertical arrow-gray">                
            <div class="flex-vertical flex-one">
                <div class="home-money-header">How to bet your money on Fanduel and DraftKings</div>
                <div class="home-money-desc">
                    {{#get "posts" limit="1" page="1" filter="tag:betting" include="tags"}}
                        {{#foreach posts}}
                            {{content}}
                        {{/foreach}}
                    {{/get}}
                </div>
            </div>
        </div>
        <div id="get-started" class="home-section arrow-padding arrow-blue flex-vertial flex-center">
            <div class="flex-vertical action-container">
                <div class="home-action-header flex-one">Lets make some money, guaranteed</div>
                <div class="action-sub-header flex-one">
                    Put your Twitter handle in the payment description and follow <a href="https://twitter.com/dfslineups__2">@dfslineups__2</a> for the lineups
                </div>
                <div class="home-action-paypal flex-one">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_xclick">
                        <input type="hidden" name="business" value="Ahmerzzoned@yandex.com">
                        <input type="hidden" name="lc" value="BM">
                        <input type="hidden" name="button_subtype" value="services">
                        <input type="hidden" name="no_note" value="0">
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_paynow_LG.gif:NonHostedGuest">
                        <table>
                            <tr style="display:none;">
                                <td><input type="hidden" name="on0" value="Pricing">Pricing</td>
                            </tr>
                            <tr>
                                <td>
                                    <select class="action-dropdown" name="os0">
                                        <option selected="selected" value="NBA Season">NBA Season $50.00 USD</option>
                                        <option value="MLB Season">MLB Season $100.00 USD</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="hidden" name="option_select0" value="NBA Season">
                        <input type="hidden" name="option_amount0" value="50.00">
                        <input type="hidden" name="option_select1" value="MLB Season">
                        <input type="hidden" name="option_amount1" value="100.00">
                        <input type="hidden" name="option_index" value="0">
                        <input type="image" src="/assets/images/icons/paypal_checkout_green.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
                {{!-- <div class="home-action-summary">
                    <div>Guaranteed to profit over the course of your membership or your money back</div>
                    <div>$20 for a month</div>
                    <div>$50 for a year</div>
                </div> --}}
            </div>
        </div>
        <div class="home-section arrow-padding flex flex-center">
            <div class="flex-vertical flex-one">
                <div class="connect-header">Connect with me:</div>
                <div class="flex connect-icons">
                    <a href="https://www.twitter.com/dfslineups__/" class="connect-icon"><img alt="Twitter Logo" src="{{asset "images/icons/twitter.png"}}"/></a>
                    <a href="https://www.periscope.tv/DFSLineups__/" class="connect-icon"><img alt="Periscope Logo" src="{{asset "images/icons/periscope.png"}}"/></a>
                    <a href="https://www.youtube.com/channel/UClTzOhDnwwdHMvzBtj2QqrA" class="connect-icon"><img alt="YouTube Logo" src="{{asset "images/icons/youtube.png"}}"/></a>
                    <a href="https://www.instagram.com/dfslineups__/" class="connect-icon"><img alt="Instagram Logo" src="{{asset "images/icons/instagram.png"}}"/></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/bower_components/moment/min/moment.min.js"></script>
<script src="/assets/js/loadMore.js"></script>
</main>